@charset "UTF-8";
/* For mobile phones: */
@media only screen and (max-width: 500px) {
    #otroDIV, #granDIV {width: 100%;}
    h1 {font-size: 10px;}
    .box {width: 50%;height: 50%;}
  }
body{
    /* background-color:aliceblue; */
    background: radial-gradient(circle at center, aliceblue 50%, #d3e9fc 100%);
    text-align: center;
	margin: 0px;
	padding: 10px;
}
a{
    color: aliceblue;
	text-decoration: none;
}
a:hover{
    background-color: #9BF;
}
h1{
    margin-block-start: 0.2em;
    font-family: 'Caprasimo', cursive;
    font-size: 60px;
    background: -webkit-linear-gradient(#96b3d2, #3a72b8);
    background-clip: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 80%;
}
p{
    font-family: 'Noto Sans', sans-serif;
	font-size: 10pt;
    color: #666;
    margin-block-start: 16px;
    margin-block-end: 24px;
	}
footer{
    width: 100%;
    position: absolute;
    top: 510px;
    align-content: center;
    margin-top: 50px;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
	margin-left: -1px;
}
.avatar, .avatar2 {
    align-items: center;
    float: none;
    width: 100px;
    border-radius: 100%;
    margin: 16px;
	box-shadow: 3px 3px 20px #cded;
}
.avatar2  {
    opacity: 0.7;
}
.box {
        text-align: center;
        width: 200px;
        min-height: 300px;
        background-color: #fefefe;
		margin-left: 100px;
        margin-right: 100px;
		box-shadow: 3px 3px 20px #aaad;
        padding: 16px;
        border-radius: 8px;
        }
.link-bio{
	background-color: #7AE;
	padding: 8px;
	border-radius: 4px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 10pt;
	margin-top: 20px;
	}
.box:nth-child(3) {
		width: 260px;
        min-height: 340px;
		position: absolute;
        margin-top: -20px;
		font-size: 1.1em;
        background-color: #fff;
         }
.text-ppal{
    margin-block-start: 24px;
    font-size: 12pt;
}
.subtext {
    color: #999;
    font-style: italic;
    margin-block-start:  10px;
    font-size: 0.8em;
}
#granDIV{
    width: 98%;
    height: 500px;
    padding: 50px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    position:fixed;
    top: -40px;
    left: 1%;
}