@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Roboto+Condensed:ital,wght@0,300;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
}
:root {
    --Brand-color: #2A373F;
}
@media  screen and (max-width: 1400px) {

}
@media  screen and (max-width: 768px) {
    body{background-color: white;
    color: aquamarine;}

}
@media  screen and (max-width: 576px) {
 h2{
    font-size: 2em;
 }
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;

}
main{
    overflow: hidden;
    width: 100%;
}
h2 {text-align: center;
}
h3{
    margin-bottom: .5em;
    font-size: 1.2em;
}
h4{
    margin-bottom: .5em;
    font-size: 1.1em;
    font-weight: 400;
}
.navbar {
    position: fixed;
    width: 100%;
    display: inline-flex;
    align-items: center !important;
    padding: 0.375rem 4rem;
    justify-content: space-between;
    background: #14191d;
    color: azure;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    z-index: 99;
}

ul, li {
    display: inherit;
    gap:inherit;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    /* margin: 0 20px; */
    position: relative;
  }
  
a {
    text-decoration: none;
    color: inherit;
  }

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

.wide {
    width: 100%;
}
#hero{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 4rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    background: url('../img/hero-interior.jpg'), rgb(0, 0, 0) 50% / cover no-repeat;
    filter: gray;
    background-size: cover;
}
.hero-title{
    width: 15.875rem;
    height: 5.625rem;
    flex-shrink: 0;
    color: #E3E19E;
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 97.8%; /* 2.934rem */
    margin: 0px;
    text-shadow: 2px 2px 5px #2A373FFF;
}
.hero-subtitle {
    width: 20vw;
    height: 1.1875rem;
    flex-shrink: 0;
    color: #ADACAC;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 97.8%; /* 0.978rem */
    text-shadow: 2px 2px 5px #2A373FFF;
}
#menu{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
#blog, #testimonio, #video{
    background-color: #EDEDED;;
    min-height: 100px;
    padding: 2rem 4rem;
}
.blog-container {
    display: flex;
    gap: 10%;
    justify-content: space-evenly;
    margin-top: 24px;
}
#video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-seccion {
    padding-top: 2%;
}

footer, #pre-footer {
    font-family: 'Cormorant Garamond', serif;
    color: #eae9bf;
    background-color: var(--Brand-color);
    display: flex;
    padding: 1rem 4rem;
    gap: 2rem;
    justify-content: space-around;
}

.qr-afip img{
    /* background-image: url('../img/rickroll-qrcode.webp'); */
    min-height: 20px;
    max-height: 20vh;
    text-align: center;
}