@charset "UTF-8";
/* Aca voy a poner un coso temporal 
.container, div, article, .avatar, h1, h2, h3, h4, p{
    border: 1px solid black;
}*/
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sansx-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
header {
    position: sticky;
    top: 0px;
    min-height: 2vh;
    max-height: 10vh;
    width: 100%;
    background-color: black;
    color: antiquewhite;
    overflow: hidden;
    
}
#logo {
    margin-left: 5%;
    margin-top: 1%;
    width: 60%;
}
nav {
    float: right;
    min-width: 50%;
}
ul{
    margin: 0;
}
ul li {
    margin: 5px;
    list-style: none;
    float: left;
}
nav ul a {
    color: white;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
#pagina1, #pagina2 {
    height: 100vh;
}
#pagina1 {
    background-color: antiquewhite;
}
#pagina2 {
    background-color:rgb(242 220 209);
}
.container {
    display: flex;
    width: 80vw;
    height: 75vh;
    margin-top: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.avatar {
    background-color: red;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    font-size: 64px;
    margin-block-start: 50px;
    line-height: 100px;
}
div + div {
    margin-left: 20px;
}
article, aside {
    min-width: 25%;
    margin-top: 10vh;
    display: flex;
}
article ~ article {
    margin-left: 20px;
}
.col-izq, .col-der {
    min-width: 45%;
}
.foto-nota {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
    margin-top: 10px;
    float: none;
    max-width: 100%;
    min-width: 100px;
    height: 90%;
    object-fit: cover;
    object-position: 67%;
}
.col-de3 {
    min-width: 28%;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding: 2%;
}
.col-de3 h2 {
    height: 10vh;
}
.link-boton {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #616161;
}
.link-boton:hover {
    background-color: red;
    color: #ffffff;
}