body {
    padding-left: 20px;
    padding-top: 100px;
    background-image: url(img/fondos/color/trama.jpg);
}

.imagenpersonajes

#foto-otta {}

h2{ color: blueviolet;}
#tit-otta{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}