@charset "UTF-8";
@import url('reset.css');
@import url('responsive.css');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Roboto+Condensed:ital,wght@0,300;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
}
:root {
    --Brand-color: #2A373F;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;

}
main{
    overflow: hidden;
    width: 100%;
}
h2 {text-align: center;
    font-size: x-large;
}
h3{
    margin-bottom: .5em;
    font-size: 1.2em;
}
h4{
    margin-bottom: .5em;
    font-size: 1.1em;
    font-weight: 400;
}
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background: #14191d;
    color: azure;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    z-index: 99;
}
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
  }
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .navbar .icon {
    display: none;
  }

a {
    text-decoration: none;
    color: inherit;
  }

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

.wide {
    width: 100%;
}
#hero{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 4rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    background: url('../img/hero-interior.jpg'), rgb(0, 0, 0) 50% / cover no-repeat;
    filter: gray;
    background-size: cover;
}
.hero-title{
    width: 39.875rem;
    height: 10.625rem;
    flex-shrink: 0;
    color: #E3E19E;
    font-family: 'Cormorant Garamond', serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 97.8%;
    margin: 0px;
    text-shadow: 2px 2px 5px #2A373FFF;
}
.hero-subtitle {
    width: 47vw;
    height: 0.1875rem;
    flex-shrink: 0;
    color: #ADACAC;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    text-shadow: 2px 2px 5px #2A373FFF;
}
#menu{
    display: flex;
    align-items: flex-end;
}
#logo {width: 36rem;}
#blog, #testimonio, #video{
    background-color: #EDEDED;;
    min-height: 100px;
    padding: 4rem 4rem;
}
.blog-container {
    display: flex;
    gap: 10%;
    justify-content: space-evenly;
    margin-top: 24px;
}
#video {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.titulo-seccion {
    padding-top: 2%;
}

footer, #pre-footer {
    font-family: 'Cormorant Garamond', serif;
    color: #eae9bf;
    background-color: var(--Brand-color);
    display: flex;
    padding: 1rem 4rem;
    gap: 2rem;
    justify-content: space-around;
}

.qr-afip img{
    /* background-image: url('../img/rickroll-qrcode.webp'); */
    min-height: 20px;
    max-height: 20vh;
    text-align: center;
}
#contacto {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    min-height: 80vh;
}
.contacto-medio{
    padding: 2rem;
    min-width: 40%;
}
input[type=text], select, textarea{
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  #blog article {min-height: 120px;}